body, html {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
    align-items: left;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.6;
    background-color: #1e1e1e;
    color: #bbdefb;
}
main {
    text-align: left;
}
